In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from tqdm import tqdm

In [3]:
data = pd.read_csv('task_1/train.csv', sep=',')

In [4]:
# obj_id - id объекта, которому ставили оценку
# hour - часы для порядка оценок в рамках одного объекта. Между объектам эти значения нельзя сравнивать
# day - дни для порядка оценок в рамках одного объекта. Между объектам эти значения нельзя сравнивать
# vote - сама оценка
# old_user - категория насколько давно пользователь с нами,
# чем больше значение, тем больше истоии про пользователя у нас есть
data.head()

   obj_id  hour  day  vote  ip  old_user
0    1719  1905   79     5   1         5
1    3309  1904   79     9   3         5
2    2038  1903   79     8   4         5
3     225  1907   79     8   5         0
4    2009  1905   79     7   6         5

Разделим данные на 3 группы

In [11]:
new_data.head()

   obj_id  hour  day  vote  ip  old_user
0    1719  1905   79     2   1         2
1    3309  1904   79     3   1         2
2    2038  1903   79     3   2         2
3     225  1907   79     3   2         0
4    2009  1905   79     2   2         2

In [24]:
new_data = data.copy()
# new_data[new_data.vote==2] = 1
# new_data[new_data.vote==3] = 1
# new_data[new_data.vote==4] = 2
# new_data[new_data.vote==5] = 2
# new_data[new_data.vote==6] = 2
# new_data[new_data.vote==7] = 2
# new_data[new_data.vote==8] = 3
# new_data[new_data.vote==9] = 3
# new_data[new_data.vote==10] = 3
new_data[new_data==2] = 1
new_data[new_data==3] = 1
new_data[new_data==4] = 2
new_data[new_data==5] = 2
new_data[new_data==6] = 2
new_data[new_data==7] = 2
new_data[new_data==8] = 3
new_data[new_data==9] = 3
new_data[new_data==10] = 3
counts_data = new_data.pivot_table(index=['day', 'obj_id'], values='vote', aggfunc='count').reset_index()
min_border_day = np.percentile(counts_data.vote, 70)
min_border_obj = np.percentile(np.array(counts_data.vote), 99.5)

In [19]:
new_data[new_data.vote==2] = 1
new_data[new_data.vote==3] = 1
new_data[new_data.vote==4] = 2
new_data[new_data.vote==5] = 2
new_data[new_data.vote==6] = 2
new_data[new_data.vote==7] = 2
new_data[new_data.vote==8] = 3
new_data[new_data.vote==9] = 3
new_data[new_data.vote==10] = 3

counts_data = new_data.pivot_table(index=['day', 'obj_id'], values='vote', aggfunc='count').reset_index()
min_border_day = np.percentile(counts_data.vote, 70)
min_border_obj = np.percentile(np.array(counts_data.vote), 99.5)

In [20]:
min_border_obj

27.0

In [70]:
obj_id = 16
data_obj = new_data[new_data.obj_id == obj_id]
counts_days = data_obj.pivot_table(index=['day', 'obj_id'], values='vote', aggfunc='count').reset_index()
if np.max(counts_days.vote) > min_border_obj:
    data_obj_counts = data_obj.merge(counts_days, on=['day', 'obj_id'], how='inner')
    data_obj_counts = data_obj_counts[data_obj_counts.vote_y > min_border_day]
    counts_days = counts_days[counts_days.vote > min_border_day]
    
    group_1 = data_obj_counts[data_obj_counts.vote_x == 1].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
    group_2 = data_obj_counts[data_obj_counts.vote_x == 2].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
    group_3 = data_obj_counts[data_obj_counts.vote_x == 3].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
    data_obj_counts = data_obj_counts.merge(group_1, on=['day', 'obj_id'], how='inner')
    data_obj_counts = data_obj_counts.merge(group_2, on=['day', 'obj_id'], how='inner')
    data_obj_counts = data_obj_counts.merge(group_3, on=['day', 'obj_id'], how='inner')

    counts_days = counts_days.merge(group_1, on=['day', 'obj_id'], how='inner')
    counts_days = counts_days.merge(group_2, on=['day', 'obj_id'], how='inner')
    counts_days = counts_days.merge(group_3, on=['day', 'obj_id'], how='inner')

    

#         counts_days['rate_1'] = counts_days.vote_x_x / counts_days.vote
#         counts_days['rate_2'] = counts_days.vote_x_y / counts_days.vote
#         counts_days['rate_3'] = counts_days.vote_x / counts_days.vote

#         features = [np.max(counts_days.rate_1), np.mean(counts_days.rate_1), np.min(counts_days.rate_1)]
#         features += [np.max(counts_days.rate_2), np.mean(counts_days.rate_2), np.min(counts_days.rate_2)]
#         features += [np.max(counts_days.rate_3), np.mean(counts_days.rate_3), np.min(counts_days.rate_3)]

#         all_features.append(features)

#         if obj_id in true_answers:
#             all_answers.append(1)
#         else:
#             all_answers.append(0)

In [73]:
group_2

Empty DataFrame
Columns: [day, obj_id]
Index: []

In [71]:
counts_days.head()

Empty DataFrame
Columns: [vote, vote_x, day, obj_id]
Index: []

In [66]:
true_answers = [792, 1710, 423, 598, 364, 453, 16]
all_features = []
all_answers = []


for obj_id in tqdm(np.sort(new_data.obj_id.unique())):
    data_obj = new_data[new_data.obj_id == obj_id]
    counts_days = data_obj.pivot_table(index=['day', 'obj_id'], values='vote', aggfunc='count').reset_index()
    if np.max(counts_days.vote) > min_border_obj:
        data_obj_counts = data_obj.merge(counts_days, on=['day', 'obj_id'], how='inner')
        data_obj_counts = data_obj_counts[data_obj_counts.vote_y > min_border_day]
        counts_days = counts_days[counts_days.vote > min_border_day]

        group_1 = data_obj_counts[data_obj_counts.vote_x == 1].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
        group_2 = data_obj_counts[data_obj_counts.vote_x == 2].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
        group_3 = data_obj_counts[data_obj_counts.vote_x == 3].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
        data_obj_counts = data_obj_counts.merge(group_1, on=['day', 'obj_id'], how='inner')
        data_obj_counts = data_obj_counts.merge(group_2, on=['day', 'obj_id'], how='inner')
        data_obj_counts = data_obj_counts.merge(group_3, on=['day', 'obj_id'], how='inner')
        
        counts_days = counts_days.merge(group_1, on=['day', 'obj_id'], how='inner')
#         print(counts_days.columns)
        counts_days = counts_days.merge(group_2, on=['day', 'obj_id'], how='inner')
        counts_days = counts_days.merge(group_3, on=['day', 'obj_id'], how='inner')
        break
counts_days.head()
        
#         counts_days['rate_1'] = counts_days.vote_x_x / counts_days.vote
#         counts_days['rate_2'] = counts_days.vote_x_y / counts_days.vote
#         counts_days['rate_3'] = counts_days.vote_x / counts_days.vote

#         features = [np.max(counts_days.rate_1), np.mean(counts_days.rate_1), np.min(counts_days.rate_1)]
#         features += [np.max(counts_days.rate_2), np.mean(counts_days.rate_2), np.min(counts_days.rate_2)]
#         features += [np.max(counts_days.rate_3), np.mean(counts_days.rate_3), np.min(counts_days.rate_3)]

#         all_features.append(features)
        
#         if obj_id in true_answers:
#             all_answers.append(1)
#         else:
#             all_answers.append(0)

  0%|          | 0/2252 [00:00<?, ?it/s]

Empty DataFrame
Columns: [vote, vote_x, day, obj_id]
Index: []

In [85]:
new_data = data.copy()
new_data.vote[new_data.vote==2] = 1
new_data.vote[new_data.vote==3] = 1
new_data.vote[new_data.vote==4] = 2
new_data.vote[new_data.vote==5] = 2
new_data.vote[new_data.vote==6] = 2
new_data.vote[new_data.vote==7] = 2
new_data.vote[new_data.vote==8] = 3
new_data.vote[new_data.vote==9] = 3
new_data.vote[new_data.vote==10] = 3

min_border_day = 15
min_border_obj = 116
threshold = 0.76819924

In [86]:
new_data.head()

   obj_id  hour  day  vote  ip  old_user
0    1719  1905   79     2   1         5
1    3309  1904   79     3   3         5
2    2038  1903   79     3   4         5
3     225  1907   79     3   5         0
4    2009  1905   79     2   6         5

In [82]:
data.head()

   obj_id  hour  day  vote  ip  old_user
0    1719  1905   79     5   1         5
1    3309  1904   79     9   3         5
2    2038  1903   79     8   4         5
3     225  1907   79     8   5         0
4    2009  1905   79     7   6         5

In [50]:
data_obj.head()

       obj_id  hour  day  vote    ip  old_user
995        16  1908   79     1   728         4
2295       16  1909   79     1  1413         5
5832       16   324   13     1  1859         5
17950      16   344   14     1  8487         5
22241      16   350   14     1  9844         3

In [61]:
counts_days.head()

   day  obj_id  vote  vote_x  rate_1
0   30      16   481     481     1.0
1   31      16   395     395     1.0
2   32      16   192     192     1.0
3   33      16   120     120     1.0
4   34      16   101     101     1.0

In [78]:
data_obj

         obj_id  hour  day  vote  ip  old_user
0             2     2    2     2   2         2
4             2     2    2     2   2         2
7             2     2    2     2   2         2
9             2     2    2     2   2         2
10            2     2    2     2   2         2
12            2     2    2     2   2         2
14            2     2    2     2   2         2
15            2     2    2     2   2         2
17            2     2    2     2   2         2
19            2     2    2     2   2         2
21            2     2    2     2   2         2
22            2     2    2     2   2         2
23            2     2    2     2   2         2
25            2     2    2     2   2         2
26            2     2    2     2   2         2
31            2     2    2     2   2         2
33            2     2    2     2   2         2
34            2     2    2     2   2         2
35            2     2    2     2   2         2
36            2     2    2     2   2         2
38            2     2    2     2   2         2
39            2     2    2     2   2         2
42            2     2    2     2   2         2
44            2     2    2     2   2         2
46            2     2    2     2   2         2
49            2     2    2     2   2         2
50            2     2    2     2   2         2
51            2     2    2     2   2         2
52            2     2    2     2   2         2
53            2     2    2     2   2         2
...         ...   ...  ...   ...  ..       ...
5408795       2     2    2     2   2         2
5408798       2     2    2     2   2         2
5408800       2     2    2     2   2         2
5408801       2     2    2     2   2         2
5408803       2     2    2     2   2         2
5408804       2     2    2     2   2         2
5408805       2     2    2     2   2         2
5408806       2     2    2     2   2         2
5408807       2     2    2     2   2         2
5408808       2     2    2     2   2         2
5408810       2     2    2     2   2         2
5408814       2     2    2     2   2         2
5408815       2     2    2     2   2         2
5408816       2     2    2     2   2         2
5408820       2     2    2     2   2         2
5408823       2     2    2     2   2         2
5408824       2     2    2     2   2         2
5408825       2     2    2     2   2         2
5408826       2     2    2     2   2         2
5408829       2     2    2     2   2         2
5408831       2     2    2     2   2         2
5408833       2     2    2     2   2         2
5408835       2     2    2     2   2         2
5408837       2     2    2     2   2         2
5408838       2     2    2     2   2         2
5408844       2     2    2     2   2         2
5408845       2     2    2     2   2         2
5408847       2     2    2     2   2         2
5408849       2     2    2     2   2         2
5408850       2     2    2     2   2         2

[2558615 rows x 6 columns]

In [79]:

    
answers = []

obj_id = 2
data_obj = new_data[new_data.obj_id == obj_id]
counts_days = data_obj.pivot_table(index=['day', 'obj_id'], values='vote', aggfunc='count').reset_index()
if np.max(counts_days.vote) > min_border_obj:
    data_obj_counts = data_obj.merge(counts_days, on=['day', 'obj_id'], how='inner')
    data_obj_counts = data_obj_counts[data_obj_counts.vote_y > min_border_day]
    counts_days = counts_days[counts_days.vote > min_border_day]
    
    group_1 = data_obj_counts[data_obj_counts.vote_x == 1].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
    data_obj_counts = data_obj_counts.merge(group_1, on=['day', 'obj_id'], how='inner')
    if(len(group_1) > 0) :
        counts_days = counts_days.merge(group_1, on=['day', 'obj_id'], how='inner')
        counts_days['rate_1'] = counts_days.vote_x / counts_days.vote

        feature = np.max(counts_days.rate_1)

        if feature > threshold:
            answers.append([obj_id])

In [30]:
data_obj_counts.head()

,obj_id,hour,day,vote_x_x,ip,old_user,vote_y,vote_x_y,vote_x_x,vote_x_y
0,0,360,15,3,13031,2,46,2,12,32
1,0,361,15,2,13137,2,46,2,12,32
2,0,361,15,2,2195,2,46,2,12,32
3,0,365,15,3,601,1,46,2,12,32
4,0,365,15,2,13140,2,46,2,12,32

In [ ]:
	vote	vote_x	day	obj_id

Функция, которая напишет как происходит разделение в дереве.

In [140]:
def get_lineage(tree, feature_names):
    left = tree.tree_.children_left
    right = tree.tree_.children_right
    threshold = tree.tree_.threshold
    features = [feature_names[i] for i in tree.tree_.feature]

    # id у child nodes
    idx = np.argwhere(left == -1)[:,0]     

    def recurse(left, right, child, lineage=None):          
        if lineage is None:
            lineage = [child]
        if child in left:
            parent = np.where(left == child)[0].item()
            split = 'l'
        else:
            parent = np.where(right == child)[0].item()
            split = 'r'

        lineage.append((parent, split, threshold[parent], features[parent]))

        if parent == 0:
            lineage.reverse()
            return lineage
        else:
            return recurse(left, right, parent, lineage)

    for child in idx:
        for node in recurse(left, right, child):
            print(node)

Обучаем решающее дерево

In [169]:
clf = DecisionTreeClassifier(max_depth=1)
clf.fit(all_features, all_answers)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=1,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [170]:
clf.feature_importances_

array([1., 0., 0., 0., 0., 0., 0., 0., 0.])

In [171]:
get_lineage(clf, ['one', 'two', 'three', 'four', 'five', 'six'])

(0, 'l', 0.775188684463501, 'one')
1
(0, 'r', 0.775188684463501, 'one')
2

Получили, что самая важная фича - первая, то есть наибольшее отношение плохих отзывов ко всем среди всех дней

In [136]:
clf.tree_.threshold

array([ 0.76819924, -2.        , -2.        ])

In [172]:
min_border_day

15.0

In [173]:
min_border_obj

116.0

Пишем функцию детекции

In [186]:
def flashmob_detector(data):
    new_data = data.copy()
    new_data[new_data==2] = 1
    new_data[new_data==3] = 1
    new_data[new_data==4] = 2
    new_data[new_data==5] = 2
    new_data[new_data==6] = 2
    new_data[new_data==7] = 2
    new_data[new_data==8] = 3
    new_data[new_data==9] = 3
    new_data[new_data==10] = 3
    
    min_border_day = 15
    min_border_obj = 116
    threshold = 0.76819924
    
    answers = []
    
    for obj_id in tqdm(new_data.obj_id.unique()):
        data_obj = new_data[new_data.obj_id == obj_id]
        counts_days = data_obj.pivot_table(index=['day', 'obj_id'], values='vote', aggfunc='count').reset_index()
        if np.max(counts_days.vote) > min_border_obj:
            data_obj_counts = data_obj.merge(counts_days, on=['day', 'obj_id'], how='inner')
            data_obj_counts = data_obj_counts[data_obj_counts.vote_y > min_border_day]
            counts_days = counts_days[counts_days.vote > min_border_day]

            group_1 = data_obj_counts[data_obj_counts.vote_x == 1].pivot_table(index=['day', 'obj_id'], values='vote_x', aggfunc='count').reset_index()
            data_obj_counts = data_obj_counts.merge(group_1, on=['day', 'obj_id'], how='inner')

            counts_days = counts_days.merge(group_1, on=['day', 'obj_id'], how='inner')
            counts_days['rate_1'] = counts_days.vote_x / counts_days.vote

            feature = np.max(counts_days.rate_1)
            
            if feature > threshold:
                answers.append([obj_id])
   
    return answers

In [187]:
flashmob_detector(data)

  0%|          | 0/2302 [00:00<?, ?it/s]
  0%|          | 3/2302 [00:00<01:30, 25.36it/s]
  0%|          | 9/2302 [00:00<01:15, 30.46it/s]
  1%|          | 13/2302 [00:00<01:17, 29.39it/s]
  1%|          | 17/2302 [00:00<01:13, 31.20it/s]
  1%|          | 21/2302 [00:00<01:10, 32.41it/s]
  1%|          | 25/2302 [00:00<01:12, 31.25it/s]
  1%|▏         | 29/2302 [00:00<01:10, 32.44it/s]
  1%|▏         | 33/2302 [00:01<01:35, 23.72it/s]
  2%|▏         | 37/2302 [00:01<01:30, 25.11it/s]
  2%|▏         | 41/2302 [00:01<01:21, 27.78it/s]
  2%|▏         | 45/2302 [00:01<01:20, 28.03it/s]
  2%|▏         | 49/2302 [00:01<01:14, 30.34it/s]
  2%|▏         | 53/2302 [00:01<01:10, 31.74it/s]
  2%|▏         | 57/2302 [00:01<01:15, 29.88it/s]
  3%|▎         | 62/2302 [00:01<01:06, 33.80it/s]
  3%|▎         | 66/2302 [00:02<01:16, 29.09it/s]
  3%|▎         | 71/2302 [00:02<01:13, 30.21it/s]
  3%|▎         | 75/2302 [00:02<01:14, 29.89it/s]
  3%|▎         | 79/2302 [00:02<01:09, 32.21it/s]
  4%|▎         | 83/2302 [00:02<01:08, 32.58it/s]
  4%|▍         | 87/2302 [00:02<01:09, 31.89it/s]
  4%|▍         | 91/2302 [00:02<01:09, 31.97it/s]
  4%|▍         | 96/2302 [00:03<01:02, 35.50it/s]
  4%|▍         | 100/2302 [00:03<01:04, 34.39it/s]
  5%|▍         | 104/2302 [00:03<01:05, 33.57it/s]
  5%|▍         | 109/2302 [00:03<00:59, 36.61it/s]
  5%|▍         | 114/2302 [00:03<00:55, 39.73it/s]
  5%|▌         | 119/2302 [00:03<00:52, 41.52it/s]
  5%|▌         | 124/2302 [00:03<01:07, 32.11it/s]
  6%|▌         | 128/2302 [00:03<01:04, 33.88it/s]
  6%|▌         | 133/2302 [00:04<01:03, 34.32it/s]
  6%|▌         | 137/2302 [00:04<01:10, 30.59it/s]
  6%|▌         | 142/2302 [00:04<01:03, 34.00it/s]
  6%|▋         | 146/2302 [00:04<01:10, 30.48it/s]
  7%|▋         | 150/2302 [00:04<01:09, 30.75it/s]
  7%|▋         | 154/2302 [00:04<01:10, 30.40it/s]
  7%|▋         | 159/2302 [00:04<01:07, 31.60it/s]
  7%|▋         | 164/2302 [00:05<01:05, 32.48it/s]
  7%|▋         | 168/2302 [00:05<01:02, 34.31it/s]
  8%|▊         | 173/2302 [00:05<01:02, 34.29it/s]
  8%|▊         | 177/2302 [00:05<01:03, 33.59it/s]
  8%|▊         | 182/2302 [00:05<00:57, 36.61it/s]
  8%|▊         | 186/2302 [00:05<01:01, 34.65it/s]
  8%|▊         | 190/2302 [00:05<01:05, 32.06it/s]
  8%|▊         | 195/2302 [00:05<00:59, 35.69it/s]
  9%|▊         | 199/2302 [00:06<01:07, 31.01it/s]
  9%|▉         | 203/2302 [00:06<01:17, 27.01it/s]
  9%|▉         | 207/2302 [00:06<01:14, 28.01it/s]
  9%|▉         | 211/2302 [00:06<01:12, 28.70it/s]
  9%|▉         | 216/2302 [00:06<01:04, 32.22it/s]
 10%|▉         | 220/2302 [00:06<01:09, 29.87it/s]
 10%|▉         | 224/2302 [00:06<01:08, 30.29it/s]
 10%|▉         | 228/2302 [00:07<01:07, 30.93it/s]
 10%|█         | 232/2302 [00:07<01:06, 31.07it/s]
 10%|█         | 237/2302 [00:07<01:03, 32.49it/s]
 11%|█         | 242/2302 [00:07<00:57, 35.86it/s]
 11%|█         | 246/2302 [00:07<00:55, 36.89it/s]
 11%|█         | 251/2302 [00:07<00:52, 38.90it/s]
 11%|█         | 258/2302 [00:07<00:45, 44.55it/s]
 11%|█▏        | 263/2302 [00:07<00:54, 37.29it/s]
 12%|█▏        | 270/2302 [00:08<00:49, 40.97it/s]
 12%|█▏        | 275/2302 [00:08<00:55, 36.36it/s]
 12%|█▏        | 280/2302 [00:08<01:00, 33.39it/s]
 12%|█▏        | 284/2302 [00:08<00:57, 35.05it/s]
 13%|█▎        | 289/2302 [00:08<00:53, 37.94it/s]
 13%|█▎        | 294/2302 [00:08<00:55, 36.22it/s]
 13%|█▎        | 299/2302 [00:08<00:51, 38.57it/s]
 13%|█▎        | 307/2302 [00:09<00:44, 44.61it/s]
 14%|█▎        | 312/2302 [00:09<00:48, 41.34it/s]
 14%|█▍        | 317/2302 [00:09<00:50, 39.50it/s]
 14%|█▍        | 322/2302 [00:09<00:52, 37.65it/s]
 14%|█▍        | 326/2302 [00:09<00:56, 35.07it/s]
 14%|█▍        | 330/2302 [00:09<01:16, 25.83it/s]
 15%|█▍        | 334/2302 [00:09<01:08, 28.68it/s]
 15%|█▍        | 338/2302 [00:10<01:07, 29.03it/s]
 15%|█▍        | 342/2302 [00:10<01:11, 27.31it/s]
 15%|█▍        | 345/2302 [00:10<01:12, 26.88it/s]
 15%|█▌        | 348/2302 [00:10<01:20, 24.40it/s]
 15%|█▌        | 355/2302 [00:10<01:04, 30.17it/s]
 16%|█▌        | 359/2302 [00:10<01:05, 29.69it/s]
 16%|█▌        | 363/2302 [00:10<01:07, 28.69it/s]
 16%|█▌        | 367/2302 [00:10<01:02, 31.20it/s]
 16%|█▌        | 371/2302 [00:11<00:59, 32.47it/s]
 16%|█▋        | 375/2302 [00:11<01:09, 27.76it/s]
 16%|█▋        | 379/2302 [00:11<01:18, 24.50it/s]
 17%|█▋        | 382/2302 [00:11<01:24, 22.67it/s]
 17%|█▋        | 386/2302 [00:11<01:16, 25.07it/s]
 17%|█▋        | 390/2302 [00:11<01:09, 27.66it/s]
 17%|█▋        | 394/2302 [00:12<01:06, 28.69it/s]
 17%|█▋        | 399/2302 [00:12<01:02, 30.50it/s]
 18%|█▊        | 404/2302 [00:12<00:56, 33.80it/s]
 18%|█▊        | 409/2302 [00:12<00:54, 34.67it/s]
 18%|█▊        | 414/2302 [00:12<00:50, 37.58it/s]
 18%|█▊        | 419/2302 [00:12<00:50, 37.40it/s]
 18%|█▊        | 424/2302 [00:12<00:47, 39.75it/s]
 19%|█▊        | 431/2302 [00:12<00:41, 45.60it/s]
 19%|█▉        | 436/2302 [00:12<00:44, 42.19it/s]
 19%|█▉        | 444/2302 [00:13<00:38, 48.23it/s]
 20%|█▉        | 450/2302 [00:13<00:41, 44.72it/s]
 20%|█▉        | 455/2302 [00:13<00:45, 40.50it/s]
 20%|█▉        | 460/2302 [00:13<00:43, 41.87it/s]
 20%|██        | 465/2302 [00:13<00:43, 42.45it/s]
 20%|██        | 470/2302 [00:13<00:45, 40.09it/s]
 21%|██        | 475/2302 [00:13<00:47, 38.58it/s]
 21%|██        | 479/2302 [00:14<00:49, 36.97it/s]
 21%|██        | 483/2302 [00:14<00:53, 33.82it/s]
 21%|██        | 487/2302 [00:14<00:51, 35.12it/s]
 21%|██▏       | 494/2302 [00:14<00:44, 40.99it/s]
 22%|██▏       | 499/2302 [00:14<00:47, 37.59it/s]
 22%|██▏       | 506/2302 [00:14<00:45, 39.38it/s]
 22%|██▏       | 511/2302 [00:14<00:43, 40.83it/s]
 22%|██▏       | 516/2302 [00:14<00:42, 42.40it/s]
 23%|██▎       | 521/2302 [00:15<00:44, 39.69it/s]
 23%|██▎       | 527/2302 [00:15<00:40, 43.92it/s]
 23%|██▎       | 532/2302 [00:15<00:44, 39.34it/s]
 23%|██▎       | 537/2302 [00:15<00:49, 35.35it/s]
 24%|██▎       | 541/2302 [00:15<00:53, 33.15it/s]
 24%|██▍       | 547/2302 [00:15<00:46, 37.95it/s]
 24%|██▍       | 552/2302 [00:15<00:44, 39.52it/s]
 24%|██▍       | 559/2302 [00:15<00:41, 42.02it/s]
 25%|██▍       | 564/2302 [00:16<00:43, 39.72it/s]
 25%|██▍       | 569/2302 [00:16<00:42, 41.24it/s]
 25%|██▍       | 574/2302 [00:16<00:49, 34.75it/s]
 25%|██▌       | 582/2302 [00:16<00:41, 41.17it/s]
 25%|██▌       | 587/2302 [00:16<00:49, 34.51it/s]
 26%|██▌       | 592/2302 [00:16<00:46, 36.70it/s]
 26%|██▌       | 597/2302 [00:16<00:45, 37.75it/s]
 26%|██▌       | 602/2302 [00:17<00:44, 38.11it/s]
 26%|██▋       | 607/2302 [00:17<00:43, 39.32it/s]
 27%|██▋       | 612/2302 [00:17<00:46, 36.13it/s]
 27%|██▋       | 616/2302 [00:17<00:49, 34.07it/s]
 27%|██▋       | 621/2302 [00:17<00:47, 35.24it/s]
 27%|██▋       | 625/2302 [00:17<00:47, 35.18it/s]
 27%|██▋       | 632/2302 [00:17<00:43, 38.01it/s]
 28%|██▊       | 637/2302 [00:18<00:41, 40.13it/s]
 28%|██▊       | 644/2302 [00:18<00:39, 41.83it/s]
 28%|██▊       | 649/2302 [00:18<00:40, 41.19it/s]
 28%|██▊       | 655/2302 [00:18<00:37, 44.45it/s]
 29%|██▊       | 660/2302 [00:18<00:37, 43.87it/s]
 29%|██▉       | 665/2302 [00:18<00:37, 43.38it/s]
 29%|██▉       | 671/2302 [00:18<00:35, 46.40it/s]
 29%|██▉       | 678/2302 [00:18<00:31, 51.33it/s]
 30%|██▉       | 685/2302 [00:18<00:29, 55.12it/s]
 30%|███       | 691/2302 [00:19<00:33, 47.46it/s]
 30%|███       | 697/2302 [00:19<00:34, 46.25it/s]
 31%|███       | 704/2302 [00:19<00:31, 50.46it/s]
 31%|███       | 710/2302 [00:19<00:32, 48.24it/s]
 31%|███       | 716/2302 [00:19<00:35, 45.27it/s]
 31%|███▏      | 721/2302 [00:19<00:34, 45.54it/s]
 32%|███▏      | 726/2302 [00:19<00:34, 45.43it/s]
 32%|███▏      | 731/2302 [00:20<00:40, 38.75it/s]
 32%|███▏      | 736/2302 [00:20<00:38, 40.43it/s]
 32%|███▏      | 743/2302 [00:20<00:34, 45.53it/s]
 33%|███▎      | 751/2302 [00:20<00:30, 51.67it/s]
 33%|███▎      | 758/2302 [00:20<00:28, 53.61it/s]
 33%|███▎      | 764/2302 [00:20<00:32, 47.69it/s]
 33%|███▎      | 770/2302 [00:20<00:33, 45.47it/s]
 34%|███▍      | 778/2302 [00:20<00:29, 52.14it/s]
 34%|███▍      | 786/2302 [00:21<00:27, 55.97it/s]
 34%|███▍      | 793/2302 [00:21<00:30, 49.96it/s]
 35%|███▍      | 799/2302 [00:21<00:37, 40.08it/s]
 35%|███▍      | 804/2302 [00:21<00:37, 40.30it/s]
 35%|███▌      | 811/2302 [00:21<00:32, 46.18it/s]
 36%|███▌      | 820/2302 [00:21<00:27, 53.18it/s]
 36%|███▌      | 829/2302 [00:21<00:24, 59.47it/s]
 36%|███▋      | 836/2302 [00:22<00:31, 46.12it/s]
 37%|███▋      | 843/2302 [00:22<00:28, 50.63it/s]
 37%|███▋      | 852/2302 [00:22<00:25, 57.46it/s]
 37%|███▋      | 861/2302 [00:22<00:22, 63.86it/s]
 38%|███▊      | 869/2302 [00:22<00:21, 67.21it/s]
 38%|███▊      | 877/2302 [00:22<00:24, 58.23it/s]
 38%|███▊      | 884/2302 [00:22<00:27, 52.46it/s]
 39%|███▊      | 891/2302 [00:22<00:25, 55.96it/s]
 39%|███▉      | 898/2302 [00:23<00:26, 53.19it/s]
 39%|███▉      | 904/2302 [00:23<00:28, 49.00it/s]
 40%|███▉      | 910/2302 [00:23<00:28, 48.57it/s]
 40%|███▉      | 918/2302 [00:23<00:25, 54.28it/s]
 40%|████      | 927/2302 [00:23<00:22, 61.06it/s]
 41%|████      | 936/2302 [00:23<00:20, 67.26it/s]
 41%|████      | 945/2302 [00:23<00:18, 71.94it/s]
 41%|████▏     | 954/2302 [00:23<00:17, 75.88it/s]
 42%|████▏     | 962/2302 [00:24<00:18, 72.62it/s]
 42%|████▏     | 970/2302 [00:24<00:19, 69.44it/s]
 42%|████▏     | 978/2302 [00:24<00:19, 69.48it/s]
 43%|████▎     | 987/2302 [00:24<00:18, 72.98it/s]
 43%|████▎     | 996/2302 [00:24<00:17, 75.41it/s]
 44%|████▎     | 1005/2302 [00:24<00:16, 76.81it/s]
 44%|████▍     | 1013/2302 [00:24<00:16, 76.28it/s]
 44%|████▍     | 1022/2302 [00:24<00:16, 78.72it/s]
 45%|████▍     | 1031/2302 [00:24<00:15, 79.72it/s]
 45%|████▌     | 1040/2302 [00:25<00:16, 78.84it/s]
 46%|████▌     | 1048/2302 [00:25<00:16, 78.06it/s]
 46%|████▌     | 1056/2302 [00:25<00:17, 71.19it/s]
 46%|████▌     | 1064/2302 [00:25<00:18, 67.10it/s]
 47%|████▋     | 1071/2302 [00:25<00:18, 67.44it/s]
 47%|████▋     | 1078/2302 [00:25<00:17, 68.11it/s]
 47%|████▋     | 1085/2302 [00:25<00:17, 68.42it/s]
 47%|████▋     | 1092/2302 [00:25<00:17, 67.80it/s]
 48%|████▊     | 1099/2302 [00:25<00:17, 67.55it/s]
 48%|████▊     | 1106/2302 [00:26<00:17, 67.54it/s]
 48%|████▊     | 1113/2302 [00:26<00:17, 67.74it/s]
 49%|████▊     | 1120/2302 [00:26<00:17, 67.82it/s]
 49%|████▉     | 1127/2302 [00:26<00:17, 68.44it/s]
 49%|████▉     | 1135/2302 [00:26<00:16, 70.60it/s]
 50%|████▉     | 1144/2302 [00:26<00:15, 73.62it/s]
 50%|█████     | 1152/2302 [00:26<00:15, 73.36it/s]
 50%|█████     | 1160/2302 [00:26<00:15, 71.63it/s]
 51%|█████     | 1168/2302 [00:26<00:16, 70.77it/s]
 51%|█████     | 1176/2302 [00:27<00:16, 69.35it/s]
 51%|█████▏    | 1183/2302 [00:27<00:17, 65.25it/s]
 52%|█████▏    | 1190/2302 [00:27<00:17, 63.51it/s]
 52%|█████▏    | 1197/2302 [00:27<00:17, 64.63it/s]
 52%|█████▏    | 1204/2302 [00:27<00:16, 65.61it/s]
 53%|█████▎    | 1212/2302 [00:27<00:15, 68.25it/s]
 53%|█████▎    | 1220/2302 [00:27<00:15, 70.86it/s]
 53%|█████▎    | 1228/2302 [00:27<00:14, 72.48it/s]
 54%|█████▎    | 1236/2302 [00:27<00:14, 73.29it/s]
 54%|█████▍    | 1244/2302 [00:28<00:14, 73.18it/s]
 54%|█████▍    | 1252/2302 [00:28<00:14, 72.39it/s]
 55%|█████▍    | 1260/2302 [00:28<00:14, 71.56it/s]
 55%|█████▌    | 1268/2302 [00:28<00:14, 71.04it/s]
 55%|█████▌    | 1276/2302 [00:28<00:14, 70.58it/s]
 56%|█████▌    | 1284/2302 [00:28<00:14, 70.24it/s]
 56%|█████▌    | 1292/2302 [00:28<00:14, 70.32it/s]
 56%|█████▋    | 1300/2302 [00:28<00:14, 68.50it/s]
 57%|█████▋    | 1307/2302 [00:28<00:16, 61.01it/s]
 57%|█████▋    | 1314/2302 [00:29<00:15, 62.18it/s]
 57%|█████▋    | 1321/2302 [00:29<00:15, 63.29it/s]
 58%|█████▊    | 1328/2302 [00:29<00:14, 65.04it/s]
 58%|█████▊    | 1336/2302 [00:29<00:14, 66.49it/s]
 58%|█████▊    | 1343/2302 [00:29<00:14, 67.29it/s]
 59%|█████▊    | 1350/2302 [00:29<00:14, 67.80it/s]
 59%|█████▉    | 1357/2302 [00:29<00:14, 67.25it/s]
 59%|█████▉    | 1365/2302 [00:29<00:13, 68.53it/s]
 60%|█████▉    | 1372/2302 [00:29<00:14, 65.43it/s]
 60%|█████▉    | 1380/2302 [00:30<00:13, 66.22it/s]
 60%|██████    | 1387/2302 [00:30<00:13, 66.07it/s]
 61%|██████    | 1394/2302 [00:30<00:13, 66.77it/s]
 61%|██████    | 1402/2302 [00:30<00:13, 67.93it/s]
 61%|██████▏   | 1410/2302 [00:30<00:12, 69.59it/s]
 62%|██████▏   | 1418/2302 [00:30<00:12, 70.07it/s]
 62%|██████▏   | 1426/2302 [00:30<00:12, 70.04it/s]
 62%|██████▏   | 1434/2302 [00:30<00:12, 70.82it/s]
 63%|██████▎   | 1442/2302 [00:30<00:11, 71.86it/s]
 63%|██████▎   | 1450/2302 [00:31<00:11, 71.83it/s]
 63%|██████▎   | 1458/2302 [00:31<00:11, 71.25it/s]
 64%|██████▎   | 1466/2302 [00:31<00:11, 70.61it/s]
 64%|██████▍   | 1474/2302 [00:31<00:11, 70.33it/s]
 64%|██████▍   | 1482/2302 [00:31<00:11, 70.39it/s]
 65%|██████▍   | 1490/2302 [00:31<00:11, 72.89it/s]
 65%|██████▌   | 1498/2302 [00:31<00:10, 73.33it/s]
 65%|██████▌   | 1506/2302 [00:31<00:11, 71.62it/s]
 66%|██████▌   | 1514/2302 [00:31<00:11, 70.91it/s]
 66%|██████▌   | 1522/2302 [00:32<00:10, 71.03it/s]
 66%|██████▋   | 1530/2302 [00:32<00:10, 71.85it/s]
 67%|██████▋   | 1538/2302 [00:32<00:10, 71.35it/s]
 67%|██████▋   | 1546/2302 [00:32<00:10, 71.43it/s]
 68%|██████▊   | 1554/2302 [00:32<00:10, 72.83it/s]
 68%|██████▊   | 1562/2302 [00:32<00:09, 74.06it/s]
 68%|██████▊   | 1570/2302 [00:32<00:09, 74.12it/s]
 69%|██████▊   | 1578/2302 [00:32<00:10, 70.36it/s]
 69%|██████▉   | 1586/2302 [00:32<00:10, 67.97it/s]
 69%|██████▉   | 1593/2302 [00:33<00:11, 64.23it/s]
 70%|██████▉   | 1600/2302 [00:33<00:10, 65.66it/s]
 70%|██████▉   | 1608/2302 [00:33<00:10, 67.70it/s]
 70%|███████   | 1616/2302 [00:33<00:09, 69.62it/s]
 71%|███████   | 1624/2302 [00:33<00:09, 71.03it/s]
 71%|███████   | 1632/2302 [00:33<00:09, 71.47it/s]
 71%|███████   | 1640/2302 [00:33<00:09, 71.18it/s]
 72%|███████▏  | 1648/2302 [00:33<00:09, 68.95it/s]
 72%|███████▏  | 1656/2302 [00:33<00:09, 71.08it/s]
 72%|███████▏  | 1664/2302 [00:34<00:08, 72.76it/s]
 73%|███████▎  | 1672/2302 [00:34<00:08, 73.42it/s]
 73%|███████▎  | 1680/2302 [00:34<00:08, 75.13it/s]
 73%|███████▎  | 1688/2302 [00:34<00:08, 76.40it/s]
 74%|███████▎  | 1696/2302 [00:34<00:07, 77.43it/s]
 74%|███████▍  | 1704/2302 [00:34<00:07, 77.71it/s]
 74%|███████▍  | 1713/2302 [00:34<00:07, 78.86it/s]
 75%|███████▍  | 1721/2302 [00:34<00:07, 79.02it/s]
 75%|███████▌  | 1729/2302 [00:34<00:07, 79.24it/s]
 75%|███████▌  | 1738/2302 [00:34<00:07, 79.75it/s]
 76%|███████▌  | 1747/2302 [00:35<00:06, 80.81it/s]
 76%|███████▋  | 1756/2302 [00:35<00:06, 82.92it/s]
 77%|███████▋  | 1765/2302 [00:35<00:06, 84.18it/s]
 77%|███████▋  | 1774/2302 [00:35<00:06, 81.48it/s]
 77%|███████▋  | 1783/2302 [00:35<00:06, 77.61it/s]
 78%|███████▊  | 1791/2302 [00:35<00:06, 74.62it/s]
 78%|███████▊  | 1799/2302 [00:35<00:06, 74.84it/s]
 78%|███████▊  | 1807/2302 [00:35<00:06, 74.38it/s]
 79%|███████▉  | 1815/2302 [00:35<00:06, 72.73it/s]
 79%|███████▉  | 1823/2302 [00:36<00:06, 72.97it/s]
 80%|███████▉  | 1831/2302 [00:36<00:06, 71.90it/s]
 80%|███████▉  | 1839/2302 [00:36<00:06, 71.98it/s]
 80%|████████  | 1847/2302 [00:36<00:06, 72.18it/s]
 81%|████████  | 1855/2302 [00:36<00:06, 73.23it/s]
 81%|████████  | 1863/2302 [00:36<00:05, 74.72it/s]
 81%|████████▏ | 1871/2302 [00:36<00:05, 72.20it/s]
 82%|████████▏ | 1879/2302 [00:36<00:05, 72.57it/s]
 82%|████████▏ | 1887/2302 [00:36<00:05, 73.61it/s]
 82%|████████▏ | 1895/2302 [00:37<00:05, 73.91it/s]

 83%|████████▎ | 1903/2302 [00:37<00:05, 73.71it/s]
 83%|████████▎ | 1911/2302 [00:37<00:05, 71.69it/s]
 83%|████████▎ | 1920/2302 [00:37<00:05, 74.89it/s]
 84%|████████▍ | 1929/2302 [00:37<00:04, 77.74it/s]
 84%|████████▍ | 1938/2302 [00:37<00:04, 80.22it/s]
 85%|████████▍ | 1947/2302 [00:37<00:04, 79.45it/s]
 85%|████████▍ | 1955/2302 [00:37<00:04, 77.11it/s]
 85%|████████▌ | 1963/2302 [00:37<00:04, 75.12it/s]
 86%|████████▌ | 1972/2302 [00:38<00:04, 77.57it/s]
 86%|████████▌ | 1980/2302 [00:38<00:04, 73.07it/s]
 86%|████████▋ | 1990/2302 [00:38<00:04, 77.54it/s]
 87%|████████▋ | 1999/2302 [00:38<00:03, 80.56it/s]
 87%|████████▋ | 2008/2302 [00:38<00:03, 81.55it/s]
 88%|████████▊ | 2017/2302 [00:38<00:03, 82.17it/s]
 88%|████████▊ | 2026/2302 [00:38<00:03, 81.85it/s]
 88%|████████▊ | 2035/2302 [00:38<00:03, 83.85it/s]
 89%|████████▉ | 2044/2302 [00:38<00:03, 82.18it/s]
 89%|████████▉ | 2053/2302 [00:39<00:03, 81.09it/s]
 90%|████████▉ | 2063/2302 [00:39<00:02, 84.74it/s]
 90%|█████████ | 2072/2302 [00:39<00:02, 80.10it/s]
 90%|█████████ | 2082/2302 [00:39<00:02, 84.04it/s]
 91%|█████████ | 2091/2302 [00:39<00:02, 83.81it/s]
 91%|█████████ | 2100/2302 [00:39<00:02, 82.43it/s]
 92%|█████████▏| 2109/2302 [00:39<00:02, 81.63it/s]
 92%|█████████▏| 2118/2302 [00:39<00:02, 73.20it/s]
 92%|█████████▏| 2126/2302 [00:39<00:02, 74.37it/s]
 93%|█████████▎| 2134/2302 [00:40<00:02, 65.82it/s]
 93%|█████████▎| 2144/2302 [00:40<00:02, 71.92it/s]
 93%|█████████▎| 2152/2302 [00:40<00:02, 62.53it/s]
 94%|█████████▍| 2160/2302 [00:40<00:02, 65.04it/s]
 94%|█████████▍| 2167/2302 [00:40<00:02, 57.66it/s]
 94%|█████████▍| 2174/2302 [00:40<00:02, 56.95it/s]
 95%|█████████▍| 2180/2302 [00:40<00:02, 50.26it/s]
 95%|█████████▍| 2186/2302 [00:41<00:02, 42.60it/s]
 95%|█████████▌| 2191/2302 [00:41<00:02, 38.40it/s]
 95%|█████████▌| 2196/2302 [00:41<00:02, 39.55it/s]
 96%|█████████▌| 2204/2302 [00:41<00:02, 43.55it/s]
 96%|█████████▌| 2211/2302 [00:41<00:02, 45.08it/s]
 96%|█████████▋| 2219/2302 [00:41<00:01, 51.07it/s]
 97%|█████████▋| 2225/2302 [00:42<00:01, 42.72it/s]
 97%|█████████▋| 2230/2302 [00:42<00:01, 38.29it/s]
 97%|█████████▋| 2235/2302 [00:42<00:01, 40.15it/s]
 97%|█████████▋| 2240/2302 [00:42<00:01, 32.44it/s]
 97%|█████████▋| 2244/2302 [00:42<00:02, 28.60it/s]
 98%|█████████▊| 2248/2302 [00:42<00:02, 24.52it/s]
 98%|█████████▊| 2251/2302 [00:43<00:02, 19.81it/s]
 98%|█████████▊| 2254/2302 [00:43<00:02, 20.51it/s]
 98%|█████████▊| 2257/2302 [00:43<00:02, 20.14it/s]
 98%|█████████▊| 2260/2302 [00:43<00:02, 20.27it/s]
 98%|█████████▊| 2263/2302 [00:43<00:01, 20.81it/s]
 98%|█████████▊| 2267/2302 [00:43<00:01, 23.27it/s]
 99%|█████████▊| 2271/2302 [00:43<00:01, 26.26it/s]
 99%|█████████▉| 2276/2302 [00:44<00:00, 30.42it/s]
 99%|█████████▉| 2284/2302 [00:44<00:00, 37.16it/s]
100%|█████████▉| 2293/2302 [00:44<00:00, 44.83it/s]
100%|█████████▉| 2301/2302 [00:44<00:00, 48.88it/s]
100%|██████████| 2302/2302 [00:44<00:00, 51.86it/s]

[[2800], [364], [598], [16], [453], [423], [792], [1710]]

In [188]:
true_answers

[792, 1710, 423, 598, 364, 453, 16]